<html>
<head>
    <title>Tetris</title>
    <style>
      body {
        background: #202028;
        color: #fff;
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
      }
      canvas {
        border: solid .2em #fff;
        height: 90vh;
      }
    </style>
</head>
<body style="font-family:new century schoolbook;" >
  <a href="/play"> <button style=" background-color:#40E0D0;color:rgb(0, 0, 0); height:1000px;width:2000px" value="CSS"> <h1 style="font-size : 200px; width: 100%; height: 100px;"> Play Tetris!  </h1>   </button> </a>




</body>
</html>